@model IEnumerable<AjaxWithAsp.netMvc.Models.Student>

@{
    ViewBag.Title = "_Student";
}

<h2>Student</h2>
Current Time = @DateTime.Now.ToLongTimeString();
<table id="studentsTable"  style="background-color: silver; border: 1px solid black;"class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarks)
            </td>
        </tr>
    }

</table>